@charset "ISO-8859-1";

            body {
                background-image: url(/resources/img/clg1.jpg);    
                background-size: 1370px 650px;
                font-size: 220%;
    
            }
            div.main{
             width: 60%;
             margin:100px auto 0px auto;
            }
            div.register{
             background-color: rgba(0,0,0,0.8);
             width:100% ;
             font-size: 20px;
             border-radius: 10px;
             border: 1px soid rgba(255,255,255,0.2);
             box-shadow: 2px 2px 15px rbga(0,0,0,0.5) ;
             color:cornsilk;
            }
            form{
                margin: 40px;
                margin-left: 100px;
            }
            td{
                padding: 20px 30px;
            }
            h2{
                font-size: 40px;
            }
            #a{
                width: 150%;
            }
            