@charset "ISO-8859-1";
            body{
                background-image: url(clg1.jpg);
                background-size: 1380px 650px;
            }
            .coloumn1{
                padding: 10px;
                border: 1px solid;
                background-color: thistle;
                width: 27.33%;
                height:450px;
                float:right;
            }
            .coloumn2{
                padding: 10px;
                border: 1px solid;
                background-color: wheat;
                width: 27.33%;
                height:450px;
                float:left;
            }
            .coloumn3{
                padding: 10px;
                border: 1px solid;
                background-color: thistle;
                width: 27.33%;
                height:450px;
                margin: 0 auto;
            }
            .width150px{ 
                width: 100px;
                display: inline-block; 
            }
            