@charset "ISO-8859-1";

            body{
                background-image: url(vote.jpg);
                background-size: 460px 700px;
                background-position: 0px 0px;
            }
            .slid{
                background-color: black;
                color: blanchedalmond;

            }
            div.main{
            width: 300px;
            margin:100px auto 0px auto;
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
            }
            div.register{
            background-color: rgba(0,0,0,0.8);
            width:100% ;
            font-size: 18px;
            border-radius: 10px;
            border: 1px soid rgba(255,255,255,0.2);
            box-shadow: 2px 2px 15px rbga(0,0,0,0.5) ;
            color:cornsilk;
        }